<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <title>{{ site.name }}</title>
  {{ function('wp_head') }}
</head>
<body>
        
        {% block content %} {% endblock %}
       

{{ function('wp_footer') }}
</body>
</html>
